/* Color Palette: black, #bad4ff, maroon, lightgrey, whitesmoke
   Fonts: Anton, Audiowide, Exo 2, -- Helvetica */

body {
  background-size:50%;
  /*background: linear-gradient(whitesmoke, #bad4ff);*/
  background: radial-gradient(circle, #bad4ff, whitesmoke);
  margin: auto;
  max-width: 80%;
  font-family: 'Exo 2', 'Helvetica', sans-serif;
  font-size: 0.9em;
  box-sizing: border-box;
  /*background-color: whitesmoke;*/
}

.title {
  padding: 10px;
  text-align: center;
  display: inline;
  float: left;
  background-image:url('af1_small.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.title h2, h3{
  color: #bad4ff;
  text-shadow: 1px 1px 2px #000;
}

.intro {
  padding: 25px;
  padding-top: 150px;
  padding-left: 30%;
  padding-right: 30%;
  max-width: 550px;
  font-size: 1.2em;
}

h1 {
  padding: 30px;
  font-family: 'Anton', 'Helvetica', sans-serif;
  font-size: 4em;
  color: white;
  text-shadow: 0.5px 0.5px 2px #000;
  letter-spacing: 0.09em;
}

p {
  max-width: 625px;
}

.flex-item {
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.flex-item h4, h5 {
  padding: 25px;
  text-align: center;
}

h4 {
  font-family: 'Audiowide', 'Helvetica', sans-serif;
  font-size: 3em;
  padding-top: 25px;
}

h5 {
  font-weight: bold;
  font-size: 2em;
  max-width: 625px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  max-width: 100%;
  opacity: 0.8;
  background: black;
}

#af1 {
  max-width: 50%;
}

/* Media Query */
@media (max-width: 600px) {
  p {
    font-size: 0.5em;
  }

  h1 {
    font-size: 2em;
  }
}

/* hover date test */
.hverbtn {
  background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}
.hover {
    position: center;
    display: inline-block;
}
.hover-content {
    display: none;
    position: left;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.hover-content h4, img, p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.hover-content a:hover {background-color: #f1f1f1}

.hover:hover .hover-content {
    display: block;
}
.hover:hover .hoverbtn {
    background-color: #3e8e41;
}
